// colors
// ---------
// $primary: #0DC6B4;
$primary: #0DC6B4;
$font-color: #414141;
$bk-icon : #EB8589;
$bk-but : #FDD21E;
// $primary-dark: #1e6e50;
$item-bg: #F8F8F8;
$secondary: #fff4f1;
$light: #fff;
$black : #000;
$line:#ffffffab;

// changing bootstrap theme
// -------------------------------

$theme-colors: (
  // "primary": $primary,
  // "secondary": $secondary,
  // "success": green,
  // "info": black,
  // "warning": black,
  // "danger": black,
  // "light": black,
  // "dark": black,
);
